mixin player(title, stat, value)
    .vertical(class="player")
        .gametitle= title
        div= players[stat][value]
        .playerimgs(class={"win": players[stat].win})
            img(src=players[stat].steamAccount.avatar, class="playerpic")
            img(src=players[stat].hero.picture, class="heroportrait")
        .playername #{players[stat].steamAccount.name}

mixin hero(name, picks, picture, position)
    .vertical(class="hero")
        img(src=picture, class=position)
        div #{ name } (#{ picks })

mixin team(name, picture, win)
    .team&attributes(attributes)
        .winner #{win?"Winner":""}
        img(src=picture, class="teampic")
        .teamname= name

mixin game(title, value, stats)
    .vertical(class="game")
        .gametitle= title
        div= value
        .horizontal
            +team(
                stats.radiant.name, 
                stats.radiant.logo ? stats.radiant.logo : "/img/radiant.png", 
                stats.radiantWin
            )
            .vs vs
            +team(
                stats.dire.name, 
                stats.dire.logo ? stats.dire.logo : "/img/dire.png",  
                !stats.radiantWin
            )(class="rightalign")

doctype html
html
    head
        link(rel='stylesheet', href='/css/style.css', type='text/css')
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Chapaza")
    body
        .vertical
            h1 Clarity League
            .subtitle Season 10 - Matchday Stats
            .horizontal
                +game('Shortest Game', shortestGame.duration, shortestGame)
                +game('Least Kills', leastKillsGame.kills, leastKillsGame)
            .horizontal
                +game('Longest Game', longestGame.duration, longestGame)
                +game('Most Kills', mostKillsGame.kills, mostKillsGame)
            .heroes Most Picked Heroes
            .horizontal
                +hero(heroes[1].hero, heroes[1].count, heroes[1].picture, "second")
                +hero(heroes[2].hero, heroes[2].count, heroes[2].picture, "first")
                +hero(heroes[0].hero, heroes[0].count, heroes[0].picture, "third")
            .heroes Most Banned Heroes
            .horizontal
                +hero(bans[1].hero, bans[1].count, bans[1].picture, "second")
                +hero(bans[2].hero, bans[2].count, bans[2].picture, "first")
                +hero(bans[0].hero, bans[0].count, bans[0].picture, "third")
            .heroes PLAYER ACHIEVEMENTS
            .horizontal
                +player("Highest Hero DMG", "highestHD", "hero_damage")
                +player("Most Deaths", "mostDeaths", "deaths")
                +player("Most Kills", "mostKills", "kills")
                +player("Most Assists", "mostAssists", "assists")
                +player("Highest Tower DMG", "highestTD", "tower_damage")
                +player("Highest GPM", "highestGPM", "gold_per_min")
            .horizontal
                +player("Highest XPM", "highestXPM", "xp_per_min")
                +player("Most Last Hits", "highestLH", "last_hits")
                +player("Most Denies", "highestDN", "denies")
                +player("Highest Hero Healing", "highestHH", "hero_healing")
                +player("Shortest Time Dead", "Survivor", "life_state_dead")
                +player("Longest Time Dead", "Tavern", "life_state_dead") 
            .horizontal
                +player("Most Courier Kills", "couriers", "courier_kills")
                +player("Most Observers Dewarded", "obsdewarded", "observer_kills")
                +player("Most Gold", "fatCat", "total_gold")
                +player("Least Gold", "pauper", "total_gold")
                +player("Most Runes Taken", "runes", "rune_pickups")
                +player("Most Camps Stacked", "stacks", "camps_stacked")
                 